
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Colores
$negro: #000000;
$verde: #71B100;
$blanco: #FFFFFF;
$light:         #e5e3e3;
$dark:           #c2c1c1;



$primary:       #c5cefd;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;


$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;